# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
/unzipped_files/test_zip_pdf/api16-access-sg.pangle.io:monitor:collect:c:crash_12-17-2024-19-54-18.json
/getting-started.png
/HelloWorld.png
/HelloWorld2.png
/advance_golang/chapter46/d_str_cat_test/new.txt
/advance_golang/chapter46/d_str_cat_test/old.txt
/.idea/univers_workspace_state.xml
/unzipped_files/test_zip_pdf/处罚消息下发时邮件渲染问题.pdf
/unzipped_files/test_zip_pdf/sub_src/sub2_src/年化20.pdf
/unzipped_files/test_zip_pdf/sub_src/抖音支付业务的发展分析.pdf
/buffer_demo/output.txt
/.idea/MarsCodeWorkspaceAppSettings.xml
